#postContainer {
    flex: 4;
    align-items: center;
    justify-content: center;
    background: #bacee0;
    border: 3px solid;
    border-radius: 100px;
    border-color:#000;
    width: 90%;
    margin: auto;
  
}

#postContainer0 {
    flex: 4;
    align-items: center;
    justify-content: center;
    border: 3px solid;
    border-radius: 10px;
    border-color:#000;
    width: 90%;
    margin: auto;
  
}

#postContainer2 {
    flex: 4;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: 3px solid;
    border-radius: 100px;
    border-color:#000;
    width: 90%;
    margin: auto;
  
}

.voc-view-wrapper {
    width: 60%;
    margin: 0 auto;
}

.voc-view-go-list-btn {
    border: 0;
    padding: 10px;
    background-color: #ffd9d9;
}

.voc-view-row {
    margin: 10px 0;
    display: flex;
}

.voc-view-row2 {
    margin: 10px 0;
    display: flex;
}

.voc-view-row>label:first-child {
    margin: 5px 0;
    width: 15%;
    font-weight: bold;
    font-size: large;
    text-align: end;
    color: #000;
}

.voc-view-row>*:nth-child(2) {
    margin: 5px 0;
    width: 90%;
    margin-left: 1%;
    text-align: left;
    
}

.voc-view-row2>label:first-child {
    margin: 5px 0;
    width: 15%;
    font-weight: bold;
    font-size: large;
    text-align: end;
    color: #000000;
}

.voc-view-row2>*:nth-child(2) {
    margin: 5px 0;
    width: 90%;
    margin-left: 1%;
    border: 1px solid;
    border-radius: 3px;
}

#chatRoom {
    width: 80%;
    background: #bacee0;
    overflow: auto;
    height: 500px;
    overflow-x: hidden;
    border-top: 1px solid;
    border-color: #000;
}

#chatRoom::-webkit-scrollbar{
    width: 15px;
}

#chatRoom::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

#chatRoom::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  }

  #chatRoom2 {
    width: 80%;
    background: #ffffff;
    overflow: auto;
    height: 500px;
    margin: auto;
    overflow-x: hidden;
    border-top: 1px solid;
    border-color: #000;
}

#chatRoom2::-webkit-scrollbar{
    width: 15px;
}

#chatRoom2::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

#chatRoom2::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  }


#receive {
    justify-content: left;
    text-align: start;
    margin-left: 2%;
    margin-right: 40%;
    height: auto;
    max-height: 99999px;
    border-radius: 10px;
}

#receive2 {
    justify-content: center;
    text-align: start;
    margin-left: 2%;
    margin-right: 2%;
    height: auto;
    max-height: 99999px;
    border-radius: 10px;
}

#give {
    justify-content: right;
    margin-right: 2%;
    margin-left: 40%;
    text-align: end;
    height: auto;
    max-height: 99999px;
    border: #000;
    border-radius: 10px;
}

#receiveNick {
    margin-left: 3%;
    justify-content: left;
    text-align: start;
    font-size: large;
    color: #000;
}

#receiveNick2 {
    margin-left: 3%;
    justify-content: center;
    text-align: start;
    font-size: large;
    font-weight: bold;
    color: #000000;
}

#giveNick {
    margin-right: 3%;
    justify-content: right;
    text-align: end;
    font-size: large;
    color: #000;
}

#receiveDate {
    font-size: large;
    margin-left: 3%;
    justify-content: right;
    text-align: end;
    color: #000;
}

#giveDate {
    font-size: large;
    margin-right: 3%;
    justify-content: left;
    text-align: start;
    color: #000;
}

#receiveChat {
    margin-left: 2%;
    margin-right: 2%;
    padding:1%;
    border: 1px solid;
    border-radius: 18px;
    font-weight: bold;
    font-size: large;
    text-align: start;
    background: #fff;
}

#receiveChat2 {
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;
    margin: auto;
    height: 340px;
    padding:1%;
    border: 1px solid;
    border-radius: 10px;
    font-weight: bold;
    font-size: large;
    text-align: start;
    word-break: break-all;
    max-height: 340px;
    min-height: 340px;
    resize: none;
}

#giveChat {
    margin-left: 2%;
    margin-right: 2%;
    padding:1%;
    border: 1px solid;
    border-radius: 18px;
    font-size: large;
    font-weight: bold;
    text-align: start;
    background: #ffeb33;
}

#boardButton {
    width: 100%;
    text-align: end;
    justify-content: right;
    position: sticky;
}

#chatIcon {
    position: sticky;
    top: 10px;
    padding-right: 1%;
    text-align: end;
    justify-content: right;
    width: 100%
}

#boardBtn1 {
    background: #fff;
    color: #000;
    font-weight: bold;
}

#boardBtn2 {
    background: rgb(255, 194, 39);
    font-weight: bold;
}

#boardBtn3 {
    background: rgb(63, 120, 190);
    color: #fff;
    font-weight: bold;
}

#boardSize{
    width: 90%;
    text-align: center;
}

#boardItemSize1{
    width:5%;
}

#boardItemSize2{
    width:5%;
}

#boardItemSize3{
    width:15%;
}

#boardItemSize4{
    width:40%;
}

#boardItemSize5{
    width:10%;
}

#boardItemSize6{
    width:15%;
}

#boardItemSize7{
    width:5%;
}

#boardItemSize8{
    width:5%;
}

#boardReply{
    width: 80%;
    background: #bacee0;
    height: 80px;
    text-align: start;
    justify-content: left;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
}

#replyLeft{
width: 10%;
text-align: center;
justify-content: center;
margin: auto;
margin-left: 1%;
margin-right: 1%;
}


#replyRight{
    width: 80%;
    margin: auto;
    margin-right: 1%;
    height: 70%;
}

#replySend{
    width: 10%;
    margin: auto;
    margin-right:2%;
    height: 70%;
}

#replyImage{
font-size: large;
background: #fff;
font-weight: bold;
}

#replyBoard{
    text-align: left;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: 1px solid;
    max-height: 100%;
    min-height: 100%;
    resize: none;
}

#replySendBtn{
    text-align: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: #fff;
    font-size: large;
    font-weight: bold;
}

#boardWriteBtn{
    background: #000;
    color: #fff;
    border: none;
    width: 15%;
    font-size: large;
}

#boardDelete{
    display: none;
}

#boardDelete2{
}