#container {
  display: flex;
  width: auto;
  max-width: 1920;
  background: rgb(255, 81, 81);
  font-family: "GmarketSansMedium";
}

body {
  -webkit-touch-callout: none;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.centerContainer {
  display: flex;
  flex: 1;
  width: auto;
  max-width: 1920;
  font-family: "GmarketSansMedium";
}

#wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#footer {
  position: flex;
  left: 0px;
  bottom: 0px;
  height: 70px;
  width: 100%;
  background: rgb(91, 28, 26);
}

.mainButton {
  position: absolute;
  top: 58%;
  left: 33%;
  width: 35%;
  height: 30%;
  opacity: 0;
}

#left {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#center {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#right {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login1 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-weight: bold;
  font-size: large;
  color: #fff;
  margin-right: 8%;
}

#login2 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-weight: bold;
  font-size: large;
  color: #fff;
  margin-right: 8%;
}

#login3 {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  font-weight: bold;
  font-size: large;
  color: #fff;
  margin-right: 8%;
}

#login1:hover {
  color: #000;
}

#login2:hover {
  color: #000;
}

#login3:hover {
  color: #000;
}

#dropDown1 {
  color: #000;
  font-weight: 900;
  font-size: large;
  list-style: none;
  position: absolute;
  z-index: 2;
  left: 20%;
  cursor: pointer;
}

#dropDown1:hover {
  color: rgb(248, 248, 248);
}

#dropDown1:hover #dropList {
  display: block;
}

#dropDown2 {
  color: black;
  font-weight: 900;
  font-size: large;
  list-style: none;
  position: absolute;
  z-index: 2;
  left: 30%;
  cursor: pointer;
}

#dropDown2:hover {
  color: rgb(248, 248, 248);
}

#dropDown2:hover #dropList {
  display: block;
}

#dropDown3 {
  color: black;
  font-weight: 900;
  font-size: large;
  list-style: none;
  position: absolute;
  z-index: 2;
  left: 40%;
  cursor: pointer;
}

#dropDown3:hover {
  color: rgb(248, 248, 248);
}

#dropDown3:hover #dropList {
  display: block;
}

#dropDown4 {
  color: black;
  font-weight: 900;
  font-size: large;
  list-style: none;
  position: absolute;
  z-index: 2;
  left: 50%;
  cursor: pointer;
}

#dropDown4:hover {
  color: rgb(248, 248, 248);
}

#dropDown4:hover #dropList {
  display: block;
}

#dropDown5 {
  color: black;
  font-weight: 900;
  font-size: large;
  list-style: none;
  position: absolute;
  z-index: 2;
  left: 60%;
  cursor: pointer;
}

#dropDown5:hover {
  color: rgb(248, 248, 248);
}

#dropDown5:hover #dropList {
  display: block;
}

#dropList {
  color: #fff;
  background: rgb(91, 28, 26);
  font-size: large;
  font-weight: bold;
  padding: 5px;
  display: none;
  text-decoration: none;
  margin-top: 1px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

#dropList:after {
  display: block;
  content: "";
  border-bottom: solid 3px rgb(255, 81, 81);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

#dropList:hover:after {
  transform: scaleX(1);
}

#logo {
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 30%;
}

#logo2 {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

.others {
  flex: 4;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#table {
  font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
}

#margin {
  margin-top: 3%;
}

#loginBtn {
  background: rgb(255, 81, 81);
  color: #fff;
  border: none;
  border-radius: 10%;
}

#loginHref {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: #555;
  font-size: large;
}

#loginText {
  font-size: medium;
}/*# sourceMappingURL=menu.css.map */