#container {
    display: flex;
    width: auto;
    max-width: 1920;
    background: rgb(255, 81, 81);
    font-family: "GmarketSansMedium";
    box-shadow: inset 0 0 20px rgb(91, 28, 26);
  }

body{
  -webkit-touch-callout: none;
     user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     -webkit-user-select: none;
}
.centerContainer {
  flex:1;
  width: auto;
  min-height: auto;
  max-width: 1920;
  font-family: "GmarketSansMedium";
}
  #wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  #footer {
    position: flex;
    left: 0px;
    bottom: 0px;
    height: 200px;
    width: 100%;
    background: #6f0000;
    box-shadow: inset 0 0 10px #200122;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.mainButton{
  position: absolute;
  top:58%;
  left:33%;
  width:35%;
  height: 30%;
  opacity: 0;
}

  #left {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #center {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #login0{
    text-decoration-line: none;
    font-weight: bold;
    font-size: large;
    color: #fff;
    margin-right: 8%;
    display: none;
}

#login1{
    text-decoration-line: none;
    font-weight: bold;
    font-size: large;
    color: #fff;
    margin-right: 8%;
}

#login2{
    text-decoration-line: none;
    font-weight: bold;
    font-size: large;
    color: #fff;
    margin-right: 8%;
}


#login3{
    text-decoration-line: none;
    font-weight: bold;
    font-size: large;
    color: #fff;
    margin-right: 8%;
}
 #login1:hover {
    color: #000;
  }
  
  #login2:hover {
    color: #000;
  }
  
  #login3:hover {
    color: #000;
  }
  
  #dropDown1 {
    color: #000;
    font-weight: 900;
    font-size: large;
    list-style: none;
    position: absolute;
    z-index: 2;
    left: 20%;
    cursor: pointer;
  }
  
  #dropDown1:hover {
    color: rgb(248, 248, 248);
  }
  
  #dropDown1:hover #dropList {
    display: block;
    box-shadow: inset 0 0 20px #200122;
  }
  
  #dropDown2 {
    color: black;
    font-weight: 900;
    font-size: large;
    list-style: none;
    position: absolute;
    z-index: 2;
    left: 30%;
    cursor: pointer;
  }
  
  #dropDown2:hover {
    color: rgb(248, 248, 248);
  }
  
  #dropDown2:hover #dropList {
    display: block;
    box-shadow: inset 0 0 20px #200122;
  }
  
  #dropDown3 {
    color: black;
    font-weight: 900;
    font-size: large;
    list-style: none;
    position: absolute;
    z-index: 2;
    left: 40%;
    cursor: pointer;
  }
  
  #dropDown3:hover {
    color: rgb(248, 248, 248);
  }
  
  #dropDown3:hover #dropList {
    display: block;
    box-shadow: inset 0 0 20px #200122;
  }
  
  #dropDown4 {
    color: black;
    font-weight: 900;
    font-size: large;
    list-style: none;
    position: absolute;
    z-index: 2;
    left: 50%;
    cursor: pointer;
  }
  
  #dropDown4:hover {
    color: rgb(248, 248, 248);
  }
  
  #dropDown4:hover #dropList {
    display: block;
    box-shadow: inset 0 0 20px #200122;
  }
  
  #dropDown5 {
    color: black;
    font-weight: 900;
    font-size: large;
    list-style: none;
    position: absolute;
    z-index: 2;
    left: 60%;
    cursor: pointer;
  }
  
  #dropDown5:hover {
    color: rgb(248, 248, 248);
  }
  
  #dropDown5:hover #dropList {
    display: block;
    box-shadow: inset 0 0 20px #200122;
  }
  
  #dropList {
    color: #fff;
    background: #6f0000;
    font-size: large;
    font-weight: bold;
    padding: 15px;
    padding-top: 6%;
    padding-bottom: 6%;
    display: none;
    text-decoration: none;
    margin-top: 1px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }
  
  #dropList:after{
    display:block;
    content:'';
    border-bottom: solid 3px white;
    transform:scaleX(0);
    transition:transform 250ms ease-in-out;
  }
  
  #dropList:hover:after {
    transform:scaleX(1);
  }
  
  #logo {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 30%;
  }

  #logo2 {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
  }
  
  .others {
    flex: 4;
    align-items: center;
    justify-content: center;
  }
  
  .house{
    width: 70%;
    margin: auto;
    margin-bottom: 5%;
  }

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#table{
 font-size: x-large;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

#dd{
  font-weight: bold;
}

#loginBtn{
  background: #000;
  color: #fff;
  border: none;
  width: 20%;
  font-size: large;
}

#loginBtn:hover{

  background: #555;
  color: #fff;
  border: none;
}

#loginHref{
  text-decoration-line: none;
  color: #555;
  font-size: large;
}


#loginHref:hover{
  text-decoration-line: none;
  color: #000;
  font-weight: bold;
}

#loginText{
  font-size: medium;
}

.hello{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#qnaTable{
background-color: #e6687d;
color: rgb(113, 72, 74);
font-weight: bold;
margin-bottom: 5%;
}

#qnaTr{
  width: 30%;
  background-color: #eaa063;
}

#qnaTitle{
  color: rgb(8, 65, 72);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

#qnaContents{
  color: #000;
  font-weight: bold;
  margin: auto;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
  width: auto;
}

#qnaHr{
  width: 100%;
  height: 5px;
  margin-left: 3%;
   font-weight: bold;
}

#qnaTd{
  width: 33%;
  
  align-items: center;
  justify-content: center;
  text-align: center;
}

#bloodKind{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70%;
}

#redColor{
  color: #e6687d;
  font-weight: bold;
}

#yellowColor{
  color:#eaa063;
  font-weight: bold;
}
#basicColor{
  color:#000;
  font-weight: bold;
  font-size: large;
}

#qnaWhere{
width: 100%;
display: flex;
}

#where{
  width:25%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#whereTitle{
  font-weight: bold;
}

#underLine{
  text-decoration: underline;
  text-underline-offset : 7px;
}

#desAllDiv{
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

#desLeftDiv{
  width:50%;
  margin-left: auto;
}

#desRightDiv{
  width:50%;
  margin-left: auto;
}

#desTd1{
  background-color: #e6687d;
  font-size: x-large;
  font-weight: bold;
}

#desTd2{
  background-color: #eaa063;
  font-size: x-large;
  font-weight: bold;
}

#desH3{
  font-weight: bold;
  background-color: gray;
  justify-content: center;
  text-align: center;
  display: flex;
  color: #fff;
}

#desH4{
  font-weight: bold;
  justify-content: center;
  text-align: center;
  display: flex;
  color: red;
}

#desTable{
  justify-content: center;
  text-align: center;
  margin:auto;
  font-weight: bold;
  background: #eaa063;
}

#desT{
  font-size: large;
  justify-content: center;
  text-align: left;
  padding: 10px;
}

#deshos{
  width: "100%";
}

.labelBtn{
  cursor:pointer;
  color:#fff;
  background: #000;
  border-radius: 10px;
  padding: 1%;
}

li{
  list-style-type: none;
  
}

.hosList{
  width: 100%;
  display:none;
  border-color: #000;
  border-radius: 10px;
  justify-content: center;
  padding: 1%;
  margin-left: 5%;
}

#menuBtn:checked ~ .hosList{
  display: block;
}

#menuBtn{
  padding: 5px;
  display:none;
}

.hosList2{
  width: 100%;
  display:none;
  border-color: #000;
  border-radius: 10px;
  justify-content: center;
  padding: 1%;
  margin-left: 5%;
}

#menuBtn2:checked ~ .hosList2{
  display: block;
}

#menuBtn2{
  padding: 5px;
  display:none;
}

.hosList3{
  width: 100%;
  display:none;
  border-color: #000;
  border-radius: 10px;
  justify-content: center;
  padding: 1%;
  margin-left: 5%;
}

#menuBtn3:checked ~ .hosList3{
  display: block;
}

#menuBtn3{
  padding: 5px;
  display:none;
}

.hosList4{
  width: 100%;
  display:none;
  border-color: #000;
  border-radius: 10px;
  justify-content: center;
  padding: 1%;
  margin-left: 5%;
}

#menuBtn4:checked ~ .hosList4{
  display: block;
}

#menuBtn4{
  padding: 5px;
  display:none;
}

.hosList5{
  width: 100%;
  display:none;
  border-color: #000;
  border-radius: 10px;
  justify-content: center;
  padding: 1%;
  margin-left: 5%;
}

#menuBtn5:checked ~ .hosList5{
  display: block;
}

#menuBtn5{
  padding: 5px;
  display:none;
}

.hosList6{
  width: 100%;
  display:none;
  border-color: #000;
  border-radius: 10px;
  justify-content: center;
  padding: 1%;
  margin-left: 5%;
}

#menuBtn6:checked ~ .hosList6{
  display: block;
}

#menuBtn6{
  padding: 5px;
  display:none;
}

.hosList7{
  width: 100%;
  display:none;
  border-color: #000;
  border-radius: 10px;
  justify-content: center;
  padding: 1%;
  margin-left: 5%;
}

#menuBtn7:checked ~ .hosList7{
  display: block;
}

#menuBtn7{
  padding: 5px;
  display:none;
}

.hosList8{
  width: 100%;
  display:none;
  border-color: #000;
  border-radius: 10px;
  justify-content: center;
  padding: 1%;
  margin-left: 5%;
}

#menuBtn8:checked ~ .hosList8{
  display: block;
}

#menuBtn8{
  padding: 5px;
  display:none;
}

.hosList9{
  width: 100%;
  display:none;
  border-color: #000;
  border-radius: 10px;
  justify-content: center;
  padding: 1%;
  margin-left: 5%;
}

#menuBtn9:checked ~ .hosList9{
  display: block;
}

#menuBtn9{
  padding: 5px;
  display:none;
}

#hosUl #hosLi{
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  font-size: 15px;
  padding: 5%;
  width: 100%;
  float: right;
  padding-left: 15%;
  padding-right: 15%;
}

#hosUl{
  display: inline-block;
  width: 30%;
  
}

#hosLi{
  width: 20%;
  padding-top: 3%;
}

#hosMap{
  width:60%;
  justify-content: center;
  text-align: center;
  display: flex;
  margin: auto;
  margin-bottom: 8%;
}