#home {
    font-weight: bold;
    font-size: large;
    color: black;
}

#home:hover {
    color: red;
}

#dropDown{
    font-weight: bold;
    font-size: large;
    color: black;
}

#dropDown:hover {
    color: red;
}

#wall{
    margin-right: 20%;
}

#title{
    margin-left:8%;
}

#dropList{
    color: red;
    font-weight: bold;
}